<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>plane</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.00000,0.00000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>100</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ 15.00000,17.00000 }</string>	
								<string>{ 1.00000,7.00000 }</string>	
								<string>{ 0.00000,16.00000 }</string>	
								<string>{ 4.00000,26.00000 }</string>
							</array>
							<array>	
								<string>{ 69.00000,0.00000 }</string>	
								<string>{ 1.00000,7.00000 }</string>	
								<string>{ 15.00000,17.00000 }</string>	
								<string>{ 61.00000,18.00000 }</string>	
								<string>{ 99.00000,17.00000 }</string>	
								<string>{ 99.00000,9.00000 }</string>
							</array>
						</array>
                        
					</dict>

				</array>
			</dict>

			<key>frame</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.00000,0.00000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>200</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ 2.00000,220.00000 }</string>	
								<string>{ 41.00000,223.00000 }</string>	
								<string>{ 43.00000,2.00000 }</string>	
								<string>{ 2.00000,2.00000 }</string>
							</array>
						</array>
                        
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>




